<div class="container">
    <div class="widget-container">
        <div class="widget green">
          <div class="icon">
             <i class="pi pi-id-card" style="font-size: 2rem"></i>
            <!--<fa-icon [icon]="faLocation"></fa-icon>-->
          </div>
          <div class="value" routerLink="/user">
            <div class="top"> {{allUserC ? allUserC : 0 }}</div>
            <div class="bottom">User</div>
          </div>
        </div>
        <div class="widget yellow">
          <div class="icon">
            <i class="pi pi-users" style="font-size: 2rem"></i>
             <!--<fa-icon [icon]="faLocation"></fa-icon>-->
          </div>
          <div class="value">
            <div class="top">{{allStaffC ? allStaffC : 0 }}</div>
            <div class="bottom">Staff</div>
          </div>
        </div>
        <div class="widget red">
          <div class="icon">
              <!--<fa-icon [icon]="faLocation"></fa-icon>-->
              <i class="pi pi-sitemap" style="font-size: 2rem"></i>
          </div>
          <div class="value" routerLink="/batch">
            <div class="top">{{allBatchC ? allBatchC: 0 }}</div>
            <div class="bottom">Batches</div>
          </div>
        </div>
        <div class="widget blue">
          <div class="icon">
            <i class="pi pi-book" style="font-size: 2rem"></i>
              <!--<fa-icon [icon]="faLocation"></fa-icon>-->
          </div>
          <div class="value" routerLink="/program">
            <div class="top">{{allProgramC ? allProgramC : 0}}</div>
            <div class="bottom">Programs</div>
          </div>
        </div>
      </div>
    </div>